<a href="https://colab.research.google.com/github/byundonghwan/maching_learning_basic/blob/main/DataFrame%EB%B3%B5%EC%8A%B5_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 데이터프레임 행, 열 선택 및 필터링 복습
import os
import pandas as pd
import numpy as np
os.listdir('./drive/MyDrive/machine_learning_data/machine_learning_data')

['test.csv',
 'train.csv',
 'friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 'new_friend.csv']

In [2]:
base_src = "./drive/MyDrive/machine_learning_data/machine_learning_data"
friend_src = base_src + "/friend.csv"
df = pd.read_csv(friend_src)
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [3]:
# index 2번에 해당 row 가져오기.
df.iloc[2]

name       Nate
age          30
job     teacher
Name: 2, dtype: object

In [4]:
# columns job에 해당하는 데이터 가져오기.
df['job']
df.loc[:,'job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [5]:
# 슬라이싱 기능을 통해 여러 행 가져오기
df.iloc[[2,3]] # 슬라이싱 개념 X
df.iloc[2:4] # 슬라이싱 개념 O
df.iloc[:4]

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [6]:
# 조건 필터링 가져오기
# 30대 이상만 가져오기
df[df['age'] >= 30]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [7]:
# job이 intern인 사람 가져오기
df[df['job'] == 'intern']

    name  age     job
5  Chris   25  intern

In [8]:
# 조건이 여러개 
# 30대 이상 40대 이하 (and function 사용)
# 조건마다 ( )로 묶어줘야 한다. 
df[(df['age'] >= 30) & (df['age'] <= 40)]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [9]:
# 조건이 여러개
# 30대 미만 혹은 30대 초과 (or function 사용)
df[(df['age'] < 30) | (df['age'] > 40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern

In [10]:
# in 함수를 사용한 포함 조건 걸기
# 5 in [1,2,3,4,5]
# df[df['job'] in ['student','manager']] => df['job'] 이 Series값이다. 단일값으로 지정해야 에러 X
df[df['job'].apply(lambda x : x in ['student', 'manager'])]

    name  age      job
0   John   20  student
4  Brian   45  manager

In [11]:
df[df['job'].apply(lambda x : x in ['intern', 'student'])]

    name  age      job
0   John   20  student
5  Chris   25   intern

In [12]:
# - DataFrame 행, 열 삭제 
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns = ['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [13]:
# B, C 컬럼을 삭제
# df.drop(["B", "C"], axis = 1, inplace = True)
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [14]:
# index 0, 1을 삭제
# df.drop([0,1], axis = 0, inplace = True)
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [15]:
# - DataFrame 행, 열 수정
df = pd.read_csv(friend_src, encoding = 'utf-8')
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [16]:
# df를 복사 ( 원본 데이터 유지를 위해서 )
temp = df.copy()
temp

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [17]:
temp['age'] = 20
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   20    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [18]:
temp.loc[2, 'age'] = 27
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   27    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [19]:
os.listdir(base_src)

['test.csv',
 'train.csv',
 'friend.csv',
 'new_friend_index_true.csv',
 'abalone.data',
 'train_data.csv',
 'Naver_opinion.txt',
 'dolphine.jpg',
 'NanumBarunGothic.ttf',
 'wc_result.png',
 'wc_result1.png',
 'test_csv.txt',
 'crawlings__210510.log',
 'new_friend.csv']

In [20]:
abalone_src = base_src + '/abalone.data'

In [21]:
abalone_df = pd.read_csv(abalone_src, header = None, sep = ',', names = ['sex', 'length', 'diameter', 'height', 'whole_weight', 'shucked_weight', 'viscera_weight', 'shell_weight', 'rings'])
abalone_df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [22]:
# 데이터 shape를 확인 => 데이터 형태
# 딥러닝 (CNN)=> 이미지 데이터 (데이터수, 가로, 세로, 채널) => 4차원 
# 딥러닝 (RNN)=> 텍스트, 시계열 (데이터수, 가로, 세로) => 3차원 
abalone_df.shape

(4177, 9)

In [23]:
# 데이터 결측값 확인.=> null 값 체크 
abalone_df.isnull().sum().sum()

0

In [24]:
# 기술통계 확인 => 연속형 변수만 확인 가능! (numerical 한 변수 )
abalone_df.describe()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [25]:
# 전복(abalone) 성별에 따라 groupby함수를 통해 집계
# ex) DataFrame[집계변수].groupby(DataFrame[집계대상])
grouped = abalone_df['whole_weight'].groupby(abalone_df['sex'])
grouped

In [26]:
grouped.sum()  # 남성이 가장 많은 무게가 나가는 구나 ! 유의미한 데이터 추출

sex
F    1367.8175
I     578.8885
M    1514.9500
Name: whole_weight, dtype: float64

In [27]:
grouped.mean() # 평균적으로는 여성이 무게가 조금 더 높구나!

sex
F    1.046532
I    0.431363
M    0.991459
Name: whole_weight, dtype: float64

In [28]:
grouped.size()

sex
F    1307
I    1342
M    1528
Name: whole_weight, dtype: int64

In [29]:
# 그룹변수가 하나가 아닌, 전체 연속형 변수에 대한 집계
abalone_df.groupby(abalone_df['sex']).mean()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [30]:
# 다음과 같이 간단하게 표현 가능.!
abalone_df.groupby('sex').mean()

,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
sex,,,,,,,,
F,0.579093,0.454732,0.158011,1.046532,0.446188,0.230689,0.302010,11.129304
I,0.427746,0.326494,0.107996,0.431363,0.191035,0.092010,0.128182,7.890462
M,0.561391,0.439287,0.151381,0.991459,0.432946,0.215545,0.281969,10.705497

In [31]:
# 새로운 조건에 맞는 col 변수 추가.
abalone_df['length_bool'] = np.where(abalone_df['length'] > abalone_df['length'].median(),
                                     'length_long', 
                                     'length_short')
abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [32]:
# 그룹변수를 2개이상 선택해서 총계처리는 어떻게 할까.? => EDA (EDA(Exploratory Data Analysis, 탐색적 데이터 분석))
abalone_df.groupby(['sex', 'length_bool']).mean()

                    length  diameter    height  whole_weight  shucked_weight  \
sex length_bool
F   length_long   0.626895  0.493020  0.169944      1.261330        0.542957
    length_short  0.477428  0.373301  0.132632      0.589702        0.240380
I   length_long   0.584495  0.452952  0.150957      0.923215        0.402524
    length_short  0.402210  0.305893  0.100997      0.351234        0.156581
M   length_long   0.623359  0.489291  0.168670      1.255182        0.554312
    length_short  0.454875  0.353336  0.121664      0.538157        0.224335

                  viscera_weight  shell_weight      rings
sex length_bool
F   length_long         0.276945      0.360013  11.415073
    length_short        0.132311      0.178650  10.521531
I   length_long         0.196912      0.273247  10.585106
    length_short        0.074920      0.104549   7.451473
M   length_long         0.272203      0.351683  11.299172
    length_short        0.118156      0.162141   9.685053

In [33]:
# 그룹변수 2개이상 선택해서 총계처리후 columns 열만 출력.
abalone_df.groupby(['sex','length_bool'])['whole_weight'].mean()

sex  length_bool
F    length_long     1.261330
     length_short    0.589702
I    length_long     0.923215
     length_short    0.351234
M    length_long     1.255182
     length_short    0.538157
Name: whole_weight, dtype: float64

In [34]:
# 중복 데이터  duplicated() => .sum() 중복된 데이터 확인.
# 중복된 row를 확인하는 법
abalone_df.duplicated().sum()

0

In [35]:
# 중복 예제 생성을 위해서 , 가상으로 중복 데이터 생성함
new_abalone = abalone_df.iloc[[0]]
new_abalone_df = pd.concat([abalone_df, new_abalone],axis = 0)
new_abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short

In [36]:
# 중복 데이터 확인.
new_abalone_df.duplicated().sum()

1

In [37]:
# 중복 데이터 (row 삭제)
# new_abalone_df.drop_duplicates(inplace = True)
new_abalone_df.drop_duplicates(inplace = True)
new_abalone_df

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [38]:
# 결측치(NaN)을 찾아서 다른 값으로 변경.
# 기존 데이터에는 결측치가 존재 X
abalone_df.isnull().sum().sum()

0

In [39]:
# 임의로 결측치 삽입
nan_abalone_df = abalone_df.copy()
nan_abalone_df.loc[2, 'length'] = np.nan
nan_abalone_df.isnull().sum().sum()

1

In [40]:
# 결측치를 특정 값으로 채우기. => fillna 함수를 활용.
zero_abalone_df = nan_abalone_df
zero_abalone_df.head()

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,length_short
2,F,NaN,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,length_short

In [41]:
# 결측치를 결측치가 속한 컬럼의 평균값으로 대체
nan_abalone_df.mean()

<ipython-input-41-eba0ddcd241f>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  nan_abalone_df.mean()

length            0.523991
diameter          0.407881
height            0.139516
whole_weight      0.828742
shucked_weight    0.359367
viscera_weight    0.180594
shell_weight      0.238831
rings             9.933684
dtype: float64

In [42]:
zero_abalone_df.fillna(nan_abalone_df.mean())

<ipython-input-42-6ea3a8ef61dc>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  zero_abalone_df.fillna(nan_abalone_df.mean())

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool
0,M,0.455000,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350000,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.523991,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440000,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330000,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565000,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590000,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600000,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625000,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710000,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [43]:
nan_abalone_df['sex'].value_counts().sort_values(ascending = False).index[0]

'M'

In [44]:
# 문자 fillna() 함수 사용법 => 데이터 전처리.
nan_abalone_df.loc[2, 'sex'] = np.nan
sex_mode = nan_abalone_df['sex'].value_counts().sort_values(ascending=False).index[0]
nan_abalone_df['sex'].fillna(sex_mode)

0       M
1       M
2       M
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: sex, Length: 4177, dtype: object

In [45]:
# 데이터 프레임의 가장 중요한 부분..! 
# apply 함수 ........ 진짜 강추..!!
# apply 함수 활용
# DataFrame타입의 객체에서 호출가능한 apply함수에 대해 살펴보자.
# 본인이 원하는 행과 열에 연산 혹은 function을 적용할 수 있다.
# 열 기준으로 집계하고 싶은 경우 axis=0
# 행 기준으로 집계하고 싶은 경우 axis=1

In [46]:
abalone_df[['diameter']].head()

   diameter
0     0.365
1     0.265
2     0.420
3     0.365
4     0.255

In [47]:
# 열 기준 집계 
abalone_df[['diameter']].apply(np.average, axis = 0)

diameter    0.407881
dtype: float64

In [48]:
# 행 기준 집계
abalone_df[['diameter', 'whole_weight']].apply(np.average, axis = 1)

0       0.43950
1       0.24525
2       0.54850
3       0.44050
4       0.23000
         ...
4172    0.66850
4173    0.70300
4174    0.82550
4175    0.78975
4176    1.25175
Length: 4177, dtype: float64

In [49]:
abalone_df[['diameter', 'height', 'whole_weight']].head()

   diameter  height  whole_weight
0     0.365   0.095        0.5140
1     0.265   0.090        0.2255
2     0.420   0.135        0.6770
3     0.365   0.125        0.5160
4     0.255   0.080        0.2050

In [50]:
# *** 사용자 함수를 통한 집계 *******
import math

def avg_ceil(x, y, z):
  return math.ceil((x+y+z)) # ceil 올림.

abalone_df[['diameter', 'height', 'whole_weight']].apply(lambda x : avg_ceil(x[0], x[1], x[2]), axis = 1)

0       1
1       1
2       2
3       2
4       1
       ..
4172    2
4173    2
4174    2
4175    2
4176    3
Length: 4177, dtype: int64

In [51]:
# 문제
# 1. 사용자 정의 함수 정의
# 2. ['diameter', 'height', 'whole_weight'] 변수 사용
# 3. 세 변수의 합이 1을 넘으면 True, 아니면 False 출력 후 answer 변수에 저장
# 4. abalone_df에 answer 열을 추가하고 입력

In [52]:
def f(x, y, z):
  answer = x + y + z
  if answer > 1:
    answer = True
    return answer
  else:
    answer = False
    return answer
  
abalone_df['answer'] = abalone_df[['diameter', 'height', 'whole_weight']].apply(lambda x : f(x[0], x[1], x[2]), axis = 1)
abalone_df[['diameter', 'height', 'whole_weight', 'answer']]

      diameter  height  whole_weight  answer
0        0.365   0.095        0.5140   False
1        0.265   0.090        0.2255   False
2        0.420   0.135        0.6770    True
3        0.365   0.125        0.5160    True
4        0.255   0.080        0.2050   False
...        ...     ...           ...     ...
4172     0.450   0.165        0.8870    True
4173     0.440   0.135        0.9660    True
4174     0.475   0.205        1.1760    True
4175     0.485   0.150        1.0945    True
4176     0.555   0.195        1.9485    True

[4177 rows x 4 columns]

In [53]:
# 컬럼 내 유니크한 값 뽑아서 갯수 확인.
abalone_df['sex'].value_counts(ascending = True)

F    1307
I    1342
M    1528
Name: sex, dtype: int64

In [54]:
# 두 개의 DataFrame  합치기
# 가상 abalone 1개 row 데이터 생성 및 결합
one_abalone_df = abalone_df.iloc[[0]]
pd.concat([abalone_df, one_abalone_df], axis = 0)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool,answer
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False
...,...,...,...,...,...,...,...,...,...,...,...
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False

In [55]:
one_abalone_df = abalone_df.iloc[:, [0]]
pd.concat([abalone_df, one_abalone_df], axis = 1)

,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings,length_bool,answer,sex
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short,False,M
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short,False,M
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short,True,F
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short,True,M
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short,False,I
...,...,...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long,True,F
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long,True,M
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long,True,M
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long,True,F
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long,True,M